<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <title>게시판</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('gatherboard')">
</nav>

<div class="container">
    <h2>게시판</h2>
    <form action="#" th:action="@{//gatherboard/form}" th:object="${gatherboard}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="userid" class="form-label">유저아이디</label>
            <input type="text" class="form-control" id="userid" th:field="*{userid}">
        </div>
        <div class = "form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
        </div>
        <div class = "form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" rows="3" th:field="*{content}"></textarea>
        </div>

                        <p id="demo4">버튼을 누르면 좌표가 업데이트 됩니다.</p>
                        <button type="button" onclick="getLocation4()">좌표</button>
                        <p id="text1"></p>
                        <p id="text2">위치가 확인됩니다.</p>

                        <script type="text/javascript" src="httpS://maps.google.com/maps/api/js?key=AIzaSyCyYee9gTMnqoDYBQw1aBnQaXcz1OrcV-I" ></script>
                        <script>
                            var x4 = document.getElementById("demo4");

                            function getLocation4() {
                                if (navigator.geolocation) {
                                    navigator.geolocation.getCurrentPosition(showPosition4);
                                } else {
                                    x4.innerHTML = "이 브라우저는 위치추적이 지원되지 않습니다.";
                                }
                            }

                            function showPosition4(position) {

                                x4.innerHTML = "현재 사용자는 위도 " + position.coords.latitude +
                                    ", 경도 " + position.coords.longitude + "에 위치하고 있습니다.";

                                var forLatlng= document.getElementById("text1");
                                var forAddress= document.getElementById("text2");


                                var geocoder = new google.maps.Geocoder();

                                var latlng = new google.maps.LatLng(position.coords.latitude,
                                    position.coords.longitude);
                                geocoder.geocode({'latLng' : latlng}, function(results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        if (results[1]) {forAddress.innerHTML = results[3].formatted_address;
                                        }
                                    } else {
                                        alert("Geocoder failed due to: " + status);
                                    }
                                });

                            }
                        </script>

            <body>
            <div id="message">Location unknown</div>
            </body>
            <textarea class="form-control" id="location" rows="3" th:field="*{location}"></textarea>

        <div class="mb-3">
            <label for="url" class="form-label">url주소</label>
            <input type="text" class="form-control" id="url" th:field="*{url}">
        </div>
        <div class="mb-3">
            <label for="urlpassword" class="form-label">url비밀번호</label>
            <input type="text" class="form-control" id="urlpassword" th:field="*{urlpassword}">
        </div>
        <div class="text-right">
            <a type="button" class="btn btn-secondary" th:href="@{//gatherboard/list}">취소</a>
            <button type="submit" class="btn btn-secondary">확인</button>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheck1" >
            <label class="form-check-label" for="flexCheck1">
                동행 구하는중
            </label>
        </div>
        <div class="form-check">
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheck2"  >
            <label class="form-check-label" for="flexCheck2">
                동행중
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheck3" >
            <label class="form-check-label" for="flexCheck3">
                동행완료
            </label>
        </div>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>